<template>
    <div>
        <my-counter>

        </my-counter>
    </div>
</template>

<script>
import MyCounter from '../components/MyCounter.vue'
export default {
  data () {
    return {}
  },
  components: {
    'my-counter': MyCounter
  }
}
</script>
