<template>
    <div>
        <b-nav>
            <b-nav><rounter-link to="/login">Login</rounter-link></b-nav>
            <b-nav><rounter-link to="/counter">Counter</rounter-link></b-nav>
        </b-nav>
    </div>
</template>
