<template>
    <div>
        <h3>ตัวนับของฉัน</h3>
        <button @click="dec">-</button>
        {{number}}
        <button @click="Inc">+</button>
    </div>
</template>

<script>
export default {
  data () {
    return {
      number: 0
    }
  },
  methods: {
    dec: function () {
      this.number--
    },
    Inc: function () {
      this.number++
    }
  }
}
</script>
