<template>
  <div id="app">
    <div id="nav">
<!-- <<<<<<< HEAD -->
      <router-link to="/">Home</router-link>|
      <router-link to="from">Form</router-link>|
|      <router-link to="/counter">Counter</router-link>|
<!-- ======= -->
      <router-link to="from">Home</router-link>|
      <router-link to="/">Form</router-link>
|
<!-- >>>>>>> 6b9d90e6f7f3a86154131146cc3aeac847e1284f -->
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
